<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">YelpCamp</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav nav navbar-right">
      <%  if (!currentUser){ %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>
      <%  }else { %>
          <li><a href="#">Signed In As <%= currentUser.username  %></a></li>
          <li><a href="/logout">Log Out</a></li>
      <%  } %>

      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <% if(error && error.length > 0){  %>
    <div class="alert alert-danger" role="alert">
      <h2 class="text-center"><%= error %></h2>
    </div>
  <% } %>
  <% if(success && success.length > 0){  %>
    <div class="alert alert-success" role="alert">
      <h2 class="text-center"><%= success %></h2>
    </div>
  <% } %>
</div>
