<% include partials/header %>
<% include partials/navbar %>


<div id="landing-header">
  <h1>Welcome to CampStar!</h1>
  <a href="/campgrounds" class="btn btn-lg  viewBtn">Search Campgrounds</a>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<% include partials/landing-footer %>
