<% include partials/header %>
<% include partials/navbar %>
<div class="container">
  <form class="text-center" action="/login" method="post">
    <h2 class="titleForm">Login</h2>
    <input type="text" name="username" placeholder="User name">
    <input type="text" name="password" placeholder="Password">
    <input type="submit">
  </form>
</div>

<% include partials/footer %>
