<% include partials/header %>
<% include partials/navbar %>
<div class="container text-center">
  <form class="" action="/register" method="POST">
    <h2>Register</h2>
    <input type="text" name="username" placeholder="User name">
    <input type="text" name="password" placeholder="Password">
    <input type="submit">
  </form>
</div>

<% include partials/footer %>
