#display {
  display: flex;
  flex-wrap: wrap;
}

.form {
  width: 40%;
  margin: 30px auto;
}

.form .btn {
  margin-top: 20px;
}



.siteName a,
.siteName a:visited,
.siteName a:hover {
  text-decoration: none;
  color: black;
  transition: all .2s linear;
  line-height: 21px;
}

 .siteName a:hover {
  font-size: 20px;
  text-shadow: 2px 2px 0  rgb(200, 175, 100)
}

.caption {
  background-color: #f8f8f8;
}
.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}
.deleteform {
  display: inline-block;
}

/*REGISTRATION & LOGIN FORMS*/
.titleForm {
  color: white;
}


.loginBtn {
  transition: color .2s linear;
  margin: 10px;
  border-radius: 5px;
  outline: none;
  font-weight: 700;
  width: 100px;
}

.loginBtn:hover {
  color: red;
}
.enterForm {
  margin: 30px auto;
  border: 3px solid rgba(255, 0, 0, 0.3);
  border-radius: 8px;
  padding: 5%;
  background-color: rgba(255, 0, 0, 0.1);
  box-shadow: 3px 3px 10px  rgba(255, 255, 255, 0.4);
}
