<% include ../partials/header %>
<% include ../partials/navbar %>

  <div class="container">
    <header class="jumbotron">
      <div class="container">
        <h1><span class="glyphicon glyphicon-tent"></span> Welcome to CampStar</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
          <a class="btn btn-primary btn-block" href="/campgrounds/new"> Add New Camp Site</a>
        </p>
        <p>
          <form action="/campgrounds" method="GET" class="form-inline text-center" id="campground-search">
            <div class="form-group">
              <input type="text" name="search" placeholder="Campground search..." class="form-control">
            </div>
            <div class="form-group">
              <input class="btn btn-primary btn-sm"  type="submit" value="Search" >
            </div>
            <div>
              <a href="/campgrounds">reset form</a>
            </div>
          </form>
         </p>
      </div>
    </header>

    <div class="row text-center" id="display" >
      <% campgrounds.forEach(function(campsite){ %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="<%= campsite.images%>" height="250" alt="">
            <div class="caption">
              <h4 class="siteName"><%= campsite.name.toUpperCase() %></h4>
            </div>
            <p>
              <a  href="/campgrounds/<%= campsite._id %>" class="btn btn-primary">More information</a>
            </p>

          </div>
        </div>
      <% })%>
    </div>



    <br><br>
    <a href="/">Back to landing page</a>
  </div>

<% include ../partials/footer %>
